.bebas-font {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.6px;
}

.font-sm .xAxis tspan {
  font-size: 8px;

  writing-mode: vertical-rl;
}

.recharts-legend-item-text {
  display: none;
}

.recharts-legend-icon {
  display: none;
}
