.bebas-font {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1.6px;
}

.font-sm .xAxis tspan {
  font-size: 8px;
  writing-mode: vertical-rl;
}

.recharts-legend-item-text {
  display: none;
}

.recharts-legend-icon {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 20px;
}

.nav-grid {
  display: grid;
  justify-content: end;
}
.footer {
  position: relative;
  bottom: 0;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}

.history-group {
  display: flex;
  justify-content: flex-start;
  margin: auto;
}
.center-vertically {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1.6px;
}

@media (max-width: 850px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
  }
  .fle {
    display: flex;
    flex-direction: column;
  }
  .mar-pad-top {
    margin-top: 45px;
    padding-top: 45px;
  }
  .mar-r {
    margin-right: 50px;
  }
  .mar-l-r {
    margin-right: 10px;
    margin-left: 10px;
  }

  
}

@media (min-width: 786px) {
  .footer {
    position: absolute;
    bottom: 0;
    margin-top: auto;
  }
  .height-s {
    height: 100%;
  }
}
