.bebas-font {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.6px;
}

.font-sm .xAxis tspan {
  font-size: 8px;
  writing-mode: vertical-rl;
}

.recharts-legend-item-text {
  display: none;
}

.recharts-legend-icon {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 20px;
}

.nav-grid {
  display: grid;
  justify-content: end;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}

@media (max-width:850px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
  }
  .fle {
    display: flex;
    flex-direction: column;
  }
  .mar-pad-top {
    margin-top: 45px;
    padding-top: 45px;
  }
  .mar-r {
    margin-right: 50px;
  }
}