input::placeholder {
  color: #c1c6ca !important;
}
input {
  font-weight: bolder !important;
}

@media (max-width: 786px) {
  .image-small {
    width: 100%;
    margin-bottom: 20px;
  }

  .signUp {
    margin-bottom: 20px;
  }
}
