body {
  min-height: 100vh;
  background: linear-gradient(to right bottom, #0c2c54, #ffffff);
  font-family: "Montserrat", sans-serif !important;
}

.bg-home {
  
  
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#post-like,
#comment-like {
  background-color: rgb(7, 180, 7);
  margin-top: -8px;
  margin-right: 5px;
  border-color: transparent;
}

#comment-delete {
  background-color: rgba(201, 14, 14, 0.829);
  margin-top: -8px;
  border-color: transparent;
}

.post-comment-info {
  color: grey;
  font-size: 14px;
}

.App {
  width: 1200px;
  margin: auto;
  text-align: center;
}

table,
th,
td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: left;
}

.global-stats > table {
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

button {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1.6px;
}
