.btn-circle {
  border-radius: 50%; /* Makes the button fully rounded */
}

.btn-post {
  color: #ff2f4f !important ;
  background: white;
  font-size: 20px;
}
.btn-like {
  color: #ff2f4f !important ;
  background: white;
  font-size: 15px;
}

.btn-xs {
  padding: 5px 5px; /* Adjust the padding as needed */
  font-size: 8px;
}

@media (max-width: 850px) {
  .r-margin-b {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 850px) {
  .r-margin-name {
    margin-top: 20px !important;
  }
  .r-margin-logout {
    margin-top: 10px !important;
  }

  .r-margin-y {
    margin-left: 10px !important;
    margin-right: 20px !important;
  }
}
