body {
  min-height: 100vh;
  background: linear-gradient(to right, #2c3e50, #3498db);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#post-like, #comment-like {
  background-color: rgb(7, 180, 7);
  margin-top: -8px;
  margin-right: 5px;
  border-color: transparent;
}

#comment-delete {
  background-color: rgba(201, 14, 14, 0.829);
  margin-top: -7px;
  border-color: transparent;
}

